{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{title}} | Zoom</title>
    {% else %}
    <title>Zoom</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Cambay' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container search-section">
        <div class="row">
            <div class="col-md-12 search-form">
                <form class="form-inline" role="search" action="{% url 'search_images' %}">
                    <input class="form-control search-input" name="category" type="search" placeholder="Search categories" aria-label="Search">
                </form>
            </div>
        </div>
    </div>
    <hr>

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}    
</body>
</html>