<div id="sideNav" class="nav-side">
    <a href="javascript:void(0)" class="close-nav">&times;</a>
    <a href="#">About</a>
    <hr>
    <div class="locations">
        <h4>Locations:</h4>
        {% for location in locations %}
        <a href="/location/{{location.id}}">{{location.photo_location}}</a>
        {% empty %}
        <h4>There are no locations</h4>
        {% endfor %}
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-md-12 social-buttons">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a 
                            href="https://twitter.com/richiewaweru" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="https://facebook.com/richywaweru" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="https://instagram.com/richiewaweru" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="https://github.com/devwaweru" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>Copyright &copy; 2018 All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navMain">
    <div class="container">
        <a class="smooth-scroll" href="/">Zoom</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link open-nav" style="cursor:pointer">Menu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>