{% extends 'base.html' %}

{% block content %}
<div class="container display-image">
    <div class="row">
        <div class="col-md-12 single-image">
            <img src="{{image.image.cdn_url}}" alt="{{image.name}}">
        </div>
        <div class="col-md-12 single-text">
            <h3> {{image.name}} </h3>
            <p> {{image.description}} </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h5>Images in this category:</h5>
            <div class="container">
                {% for img in image_category %}
                <div class="row">
                    <div class="col-md-8 category-images">
                        <img src="{{img.image.cdn_url}}" alt="{{img.name}}">
                    </div>
                    <div class="col-md-4 category-text">
                        <h4>{{img.name}}</h4>
                    </div>
                </div>
                <hr>
                {% empty %}
                <h3>No images in this category</h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}